{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Insert a sequence into a database, and loads a array of objects</h1>
        <br>
        <h4>Sample code : </h4>
        <br>
        {{ code | raw }}
        <br>
        <h4>Result :</h4>
        <div class="row">
            <div class="col-md-10">{{ dump(sequence) }}</div>
        </div>
    </div>
{% endblock %}